.title
{
	text-align:center;
	border: 0;
	font-size: 25px;
	font-family: Georgia,serif;
	line-height: 17px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration:underline;
	color: #93191b;
}

#homeCrumb
{
	width:100%;
}

.introduction
{
	font-family: Verdana,sans-serif;
	font-weight: normal;
	font-size: 11px;
	line-height: 17px;
	text-transform: none;
	letter-spacing: 0px;
}


.listElement
{
	text-decoration:none;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color:#333;
	font-weight:normal;
	list-style-type:none;
}

.link
{
	color: #93191B !important;
	text-decoration:none;
	font-family: Verdana,sans-serif;
	font-size: 11px;
	margin-bottom:8px;
}

.link:hover
{
	text-decoration:underline!important;
}

.tableButtons
{
	margin-left:auto;
	margin-right:auto;
}

.button
{
	background-image: url('../Images/bigButton.jpg');
	width:206px;
	height:37px;
	margin-right:10px;
}

.buttonText
{
	color:black;
	text-decoration:none;
	font-family: Verdana,sans-serif;
	font-size: 13px;
	font-weight:bold;
	margin-top:3px;
	margin-right:auto;
	margin-left:auto;
}

.buttonText:hover
{
	color: #93191B !important;
	font-size:15px;
}

#dialog-confirm-Save
{
	display:none;
}

#dialog-confirm-Cancel
{
	display:none;
}

.ui-widget
{
	max-width:350px;
}

.ui-dialog
{
	width: 350px!important;
	top:100px!important;
}

.ui-dialog-title
{
	font-family: Verdana,sans-serif;
	font-size: 11px;
}

.ui-button-text
{
	font-size:11px;
}

.ui-dialog-content
{
	height:50px!important;
	font-size:11px!important;
}

.text
{
	text-decoration:none;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color:#333;
	font-weight:normal;
	margin-bottom:20px;
}

/**************************************************/

#datepicker
{
	float:right;
}

.ui-datepicker
{
	max-width:200px;
}

.ui-datepicker-header
{
	width:200px;
	font-size: 0.65em!important;
}


.ui-datepicker-calendar
{
	max-width:200px;
	max-height:200px;
	font-size:small!important;
}

.ui-state-default:hover
{
	color:red!important;
}

