.option
{
	border-bottom:1px dotted #ccc;
	width:500px;
}

.text
{
	text-decoration:none;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color:#333;
	font-weight:normal;
	margin-bottom:20px;
}

.title
{
	color: #93191B !important;
	text-decoration:none;
	font-family: Verdana,sans-serif;
	font-size: 11px;
	margin-bottom:8px;
}

.image
{
	float:left;
	margin-right:15px;
}
